[package]
name = "wasm_platform"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2.108"
chip8 = { path = "../chip8", default-features = false, features = ["wasm"] }
js-sys = "0.3.85"
